/*
author: Boostraptheme
author URL: https://boostraptheme.com
License: Creative Commons Attribution 4.0 Unported
License URL: https://creativecommons.org/licenses/by/4.0/
*/

.cl-blue {
    color: #2196f3;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 0
}

.hero-area {
    background-image: url("../../img/login-bg.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hero-area {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.contact-h-cont {
    width: 500px;
    margin: 0 auto;
    padding: 30px;
}

.input-text {
    font-size: 14px;
    padding: 20px 26px;
    background: 0;
    border: 1px solid #fff;
    color: #fffefe;
    position: relative;
    z-index: 0;
}

.pp img {
    width: 120px;
}