<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>八方传播-管理后台</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/fonts/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/mgr/ionicons.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/mgr/AdminLTE.css" rel="stylesheet" type="text/css"/>

    <!--data table-->
    <link rel="stylesheet" href="/js/data-tables/DT_bootstrap.css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="skin-blue">

<div th:replace="mgr/component/header::header"></div>

<div class="wrapper row-offcanvas row-offcanvas-left">
    <div th:replace="mgr/component/left_nav::left-nav('user')"></div>

    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>会员管理</h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-tools">
                                <button class="btn btn-info" data-toggle="modal" data-target="#myModal">
                                    <i class="fa fa-plus"></i> 新增会员
                                </button>
                            </div>
                        </div>
                        <div class="box-body">
                            <table class="table table-hover general-table" id="userList">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>广告商名称</th>
                                    <th>总余额</th>
                                    <th>备注</th>
                                    <th>手机号码</th>
                                    <th>QQ</th>
                                    <th>邮箱地址</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${users}">
                                    <td>
                                        <a th:href="@{/toUser/{id}(id=${user.id})}" th:text="${user.id}" th:target="_blank"></a>
                                    </td>
                                    <td th:text="${user.username}"></td>
                                    <td th:include="util/currency::format(${user.money/100})"></td>
                                    <td th:text="${user.note}"></td>
                                    <td th:text="${user.mobile}"></td>
                                    <td th:text="${user.qq}"></td>
                                    <td th:text="${user.email}"></td>
                                    <td th:switch="${user.status}">
                                        <span th:case="0" class="label label-danger label-mini">禁用</span>
                                        <span th:case="1" class="label label-info label-mini">活动</span>
                                    </td>
                                    <td>
                                        <a th:href="@{/mgr/editUser/{id}(id=${user.id})}">修改&nbsp;</a>
                                        <a th:href="${user.status==1}?@{/mgr/disableUser/{id}(id=${user.id})}:
                                            @{/mgr/enableUser/{id}(id=${user.id})}"
                                           th:text="${user.status==1}?'禁用':'启用'"></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- /.content -->
    </aside><!-- /.right-side -->
</div><!-- ./wrapper -->


<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    新建用户
                </h4>
            </div>
            <form id="createUserForm" th:action="@{/mgr/createUser}"
                  th:method="post" th:object="${user}"
                  role="form">
                <div class="modal-body">
                    <div class="box-body">
                        <div class="form-group">
                            <label th:for="username">广告商名称</label>
                            <input class="form-control" th:field="*{username}">
                        </div>
                        <div class="form-group">
                            <label th:for="password">广告商密码</label>
                            <input type="password" class="form-control" th:field="*{password}">
                        </div>
                        <div class="form-group">
                            <label th:for="money">余额</label>
                            <input class="form-control" th:field="*{money}">
                        </div>
                        <div class="form-group">
                            <label th:for="note">备注</label>
                            <input class="form-control" th:field="*{note}">
                        </div>
                        <div class="form-group">
                            <label th:for="mobile">手机号码</label>
                            <input class="form-control" th:field="*{mobile}">
                        </div>
                        <div class="form-group">
                            <label th:for="email">邮箱地址</label>
                            <input class="form-control" th:field="*{email}">
                        </div>
                        <div class="form-group">
                            <label th:for="qq">QQ</label>
                            <input class="form-control" th:field="*{qq}">
                        </div>
                    </div><!-- /.box-body -->
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/mgr/app.js" type="text/javascript"></script>

<!--data table-->
<script type="text/javascript" src="/js/data-tables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/data-tables/DT_bootstrap.js"></script>
<script src="/js/dynamic_table_init.js"></script>

<!--form-->
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/messages_zh.min.js"></script>
<script src="/js/form.js"></script>

</body>
</html>