<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理后台</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="/css/mgr/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/mgr/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/mgr/ionicons.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/mgr/AdminLTE.css" rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="skin-blue">

<div th:replace="mgr/component/header::header"></div>

<div class="wrapper row-offcanvas row-offcanvas-left">
    <div th:replace="mgr/component/left_nav::left-nav('setting')"></div>

    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                网站管理
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-3">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-tools">
                                <button class="btn btn-info" data-toggle="modal" data-target="#saveTypeModal">
                                    <i class="fa fa-plus"></i> 新增计划模块
                                </button>
                            </div>
                        </div>
                        <div class="box-body">
                            <table class="table table-hover general-table">
                                <thead>
                                <tr>
                                    <th>计划模块</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="attr : ${planAttributeList}">
                                    <td th:text="${attr.name}"></td>
                                    <td>
                                        <!--<a th:href="@{/mgr/editUser/{id}(id=${type.id})}">修改&nbsp;</a>-->
                                        <a th:href="@{/site/deletePlanAttribute/{id}(id=${attr.id})}">删除&nbsp;</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-3">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-tools">
                                <button class="btn btn-info" data-toggle="modal" data-target="#saveTypeModal">
                                    <i class="fa fa-plus"></i> 新增广告类型
                                </button>
                            </div>
                        </div>
                        <div class="box-body">
                            <table class="table table-hover general-table">
                                <thead>
                                <tr>
                                    <th>广告类型</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="type : ${adTypeList}">
                                    <td th:text="${type.name}"></td>
                                    <td>
                                        <!--<a th:href="@{/mgr/editUser/{id}(id=${type.id})}">修改&nbsp;</a>-->
                                        <a th:href="@{/site/deleteAdType/{id}(id=${type.id})}">删除&nbsp;</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="saveTypeModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form id="saveTypeForm" th:action="@{/site/saveAdType}"
                                  th:method="post" role="form">
                                <input id="tid" name="id" type="hidden" value="0"/>
                                <div class="modal-body">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label for="typeName">广告类型</label>
                                            <input id="typeName" name="name" class="form-control"/>
                                        </div>
                                    </div><!-- /.box-body -->
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">保存</button>
                                </div>
                            </form>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>

                <div class="col-xs-6">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-tools">

                                <button class="btn btn-info" data-toggle="modal" data-target="#saveSizeModal">
                                    <i class="fa fa-plus"></i> 新增尺寸模板
                                </button>
                            </div>
                        </div>
                        <div class="box-body">
                            <table class="table table-hover general-table">
                                <thead>
                                <tr>
                                    <th>广告类型</th>
                                    <th>尺寸模板</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="size : ${adImgSizeList}">
                                    <td th:text="${size.typeName}"></td>
                                    <td th:text="${size.imgSize}"></td>
                                    <td>
                                        <!--<a th:href="@{/mgr/editUser/{id}(id=${size.id})}">修改&nbsp;</a>-->
                                        <a th:href="@{/site/deleteAdImgSize/{id}(id=${size.id})}">删除&nbsp;</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="saveSizeModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form id="saveSizeForm" th:action="@{/site/saveAdImgSize}"
                                  th:method="post" role="form">
                                <input id="sid" name="id" type="hidden" value="0"/>
                                <div class="modal-body">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label for="type">广告类型</label>
                                            <select id="type" name="type" class="form-control">
                                                <option value="0">请选择广告类型</option>
                                                <option th:each="type : ${adTypeList}" th:value="${type.id}"
                                                        th:text="${type.name}"></option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="sizeName">尺寸模板</label>
                                            <input id="sizeName" name="name" class="form-control"/>
                                        </div>
                                    </div><!-- /.box-body -->
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">保存</button>
                                </div>
                            </form>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
            </div>

        </section><!-- /.content -->
    </aside><!-- /.right-side -->
</div><!-- ./wrapper -->


<script src="/js/mgr/jquery-1.10.2.min.js"></script>
<script src="/js/mgr/bootstrap.min.js"></script>
<script src="/js/mgr/app.js" type="text/javascript"></script>
<script>
    function setTid(id) {
        $("#tid").val(id)
    }

    function setSid(id) {
        $("#sid").val(id)
    }
</script>
</body>
</html>