<!DOCTYPE html>
<html lang="en">
<body>
<footer class="sticky-footer">
    网站备案号 粤ICP备2023107497号-1
    <img style="width: 20px;display: inline-block;height: 20px;vertical-align: top;" src="/images/beian.png" />
    <a href= "https://beian.mps.gov.cn/#/query/webSearch?code=44030002001165\" rel=\"noreferrer\" target=\"_blank\">粤公网安备44030002001165号</a>
    <br/>
    版权所有：深圳市聚效互动科技有限公司
    服务邮箱：SVC@moreeffect.cn 电话：（+86）18659208770
    <br/>
    深圳办公地址：
    深圳市南山区南海大道1079号花园城数码大厦A座201-N
    <br/>
    香港办公地址：
    香港九龍新蒲崗大有街2-4號旺景工業大廈3樓D18 Unit D18,3/F,Wong King Industrial Building,No.2-4 Tai Yau Street,Kowloon
</footer>
</body>
</html>
