<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="left-nav(flag)">
<!-- left side start-->
<nav class="side-navbar">
    <!-- Sidebar Navidation Menus-->
    <ul class="list-unstyled">
        <li th:class="${flag=='user'?'active':''}">
            <a href="/"><i class="fa fa-calendar-home"></i>首页</a>
        </li>
        <li th:class="${flag=='plan'?'active':''}">
            <a href="/"><i class="fa fa-calendar-plus-o"></i>计划管理</a>
        </li>
        <li th:class="${flag=='ad'?'active':''}">
            <a href="/"><i class="fa fa-desktop"></i>广告管理</a>
        </li>
        <li th:class="${flag=='data'?'active':''}">
            <a href="/"><i class="fa fa-eye"></i>报表中心</a>
        </li>
        <li th:class="${flag=='setting'?'active':''}">
            <a href="/"><i class="fa fa-gear"></i>个人中心</a>
        </li>
        <li>
            <a href="/user/logout"><i class="fa fa-power-off"></i>退出</a>
        </li>
    </ul>
</nav>
<!-- left side end-->
</body>
</html>