<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="left-nav(flag)">
<div id="sidebar-left" class="span2">

    <div class="nav-collapse sidebar-nav">
        <ul class="nav nav-tabs nav-stacked main-menu">
            <li th:class="${flag=='user'?'active':''}">
                <a href="/"><i class="icon-bar-chart"></i><span class="hidden-tablet"> 首页</span></a>
            </li>
            <li th:class="${flag=='plan'?'active':''}">
                <a href="/user/plan"><i class="icon-picture"></i><span class="hidden-tablet"> 广告计划</span></a>
            </li>
            <!--<li th:class="${flag=='ad'?'active':''}">-->
                <!--<a href="/user/ad"><i class="icon-picture"></i><span class="hidden-tablet"> 广告管理</span></a>-->
            <!--</li>-->
            <li th:class="${flag=='data'?'active':''}">
                <a href="/user/data"><i class="icon-edit"></i><span class="hidden-tablet"> 报表中心</span></a>
            </li>
            <li th:class="${flag=='setting'?'active':''}">
                <a href="/user/setting"><i class="icon-dashboard"></i><span class="hidden-tablet"> 个人中心</span></a>
            </li>
            <!--<li th:class="${flag=='price'?'active':''}">-->
                <!--<a href="/user/consumeLog"><i class="icon-eye-open"></i><span class="hidden-tablet"> 消费明细</span></a>-->
            <!--</li>-->
            <li>
                <a href="/user/logout"><i class="icon-lock"></i><span class="hidden-tablet"> 退出</span></a>
            </li>
        </ul>
    </div>
</div>

</body>
</html>