<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">

    <title>广告商后台</title>
    <link rel="shortcut icon" href="/img/favicon.ico">

    <link href="/css/dwa/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/dwa/bootstrap-responsive.min.css" rel="stylesheet"/>
    <link href="/css/dwa/style.min.css" rel="stylesheet"/>
    <link href="/css/dwa/style-responsive.min.css" rel="stylesheet"/>
    <link href="/css/dwa/retina.css" rel="stylesheet"/>
</head>

<body>

<div th:replace="component/header::header"></div>

<div class="container-fluid-full">
    <div class="row-fluid">
        <div th:replace="component/left_nav::left-nav('ad')"></div>

        <div id="content" class="span10" style="min-height: 858px;">
            <form id="adForm" enctype="multipart/form-data"
                  th:action="${ad.id}?'/user/editAd':'/user/createAd'"
                  th:method="post" th:object="${ad}"
                  class="form-horizontal" role="form">
                <div class="row-fluid">
                    <div class="box span12">
                        <div class="box-header">
                            <h2><i class="icon-edit"></i>广告内容</h2>
                            <div class="box-icon">
                                <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
                                <a href="#" class="btn-close"><i class="icon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content">

                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" th:for="*{planId}">所属广告计划</label>
                                    <div class="controls">
                                        <select th:field="*{planId}">
                                            <option th:each="plan : ${plans}" th:text="${plan.name}"
                                                    th:value="${plan.id}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" th:for="name">广告名称</label>
                                    <div class="controls">
                                        <input class="input-xlarge focused" type="text" th:field="*{name}">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" th:for="url">广告地址</label>
                                    <div class="controls">
                                        <input class="input-xlarge focused" type="text" th:field="*{url}">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">广告类型</label>
                                    <div class="controls">
                                        <select id="type" th:field="*{param.type}">
                                            <option value="0">请选择广告类型</option>
                                            <option th:each="type : ${adTypeList}" th:value="${type.id}"
                                                    th:text="${type.name}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">尺寸模板</label>
                                    <div class="controls">
                                        <select id="size" th:field="*{param.imgSize}">
                                            <option value="0">请选择尺寸模板</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" th:for="url">上传图片</label>
                                    <div class="controls">
                                        <input class="input-xlarge focused" type="file" th:field="*{imageFile}"/>
                                        <input id="imageName" type="hidden" th:field="*{param.image}"/>
                                    </div>
                                </div>

                                <div class="row-fluid" style="text-align: right;">
                                    <button type="submit" class="btn btn-primary">保存</button>
                                </div>
                            </fieldset>
                        </div>
                    </div><!--/span-->

                </div><!--/row-->
            </form>
        </div>
    </div>
</div>

<!--Global Javascript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/popper/popper.min.js"></script>
<script src="/js/tether.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/front.js"></script>

<script src="/js/form.js"></script>
<script src="/js/messages_zh.min.js"></script>

<script th:inline="javascript">
    $(function () {
        var typeSelectEle = $("#type");
        initSizeSelect(typeSelectEle)
        typeSelectEle.change(function () {
            initSizeSelect(typeSelectEle)
        });

        function initSizeSelect(typeSelectEle) {
            var value = parseInt(typeSelectEle.val());
            if (value > 0) {
                $.ajax({
                    cache: true,
                    type: "post",
                    url: "/site/queryAdImgSizeList",
                    data: {"type": value},
                    success: function (data) {
                        $("#size").empty();
                        for (var i = 0; i < data.length; i++) {
                            $("#size").append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                        }
                    },
                    error: function () {
                        alert("获取数据失败，请重新刷新！");
                    }
                })
            } else {
                resetSizeSelect()
            }
        }

        function resetSizeSelect() {
            $("#size").empty().append("<option>请选择尺寸模板</option>");
        }
    })
</script>

</body>

</html>