<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">

    <title>广告商后台</title>
    <link rel="shortcut icon" href="/img/favicon.ico">

    <!-- global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/font-icon-style.css">
    <link rel="stylesheet" href="/css/style.default.css" id="theme-stylesheet">

    <!-- Core stylesheets -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<!--====================================================
                         MAIN NAVBAR
======================================================-->
<div th:replace="component/header::header"></div>

<!--====================================================
                        PAGE CONTENT
======================================================-->
<div class="page-content d-flex align-items-stretch">

    <!--***** SIDE NAVBAR *****-->
    <div th:replace="component/left_nav::left-nav('plan')"></div>

    <div class="content-inner">
        <div class="card form" id="form1">
            <div class="card-header">
                <h3>广告内容</h3>
            </div>
            <br>
            <form id="adForm" enctype="multipart/form-data"
                  th:action="${ad.id}?'/user/editAd':'/user/createAd'"
                  th:method="post" th:object="${ad}"
                  class="form-horizontal" role="form">
                <input type="hidden" th:field="*{id}">
                <div class="form-group row">
                    <label class="col-form-label">所属广告计划</label>
                    <div class="col-lg-6">
                        <select id="planId" class="form-control" th:field="*{planId}">
                            <option th:each="plan : ${plans}" th:text="${plan.name}"
                                    th:value="${plan.id}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label th:for="name" class="col-form-label">广告名称</label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" th:field="*{name}">
                    </div>
                </div>
                <div class="form-group row">
                    <label th:for="url" class="col-form-label">广告地址</label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" th:field="*{url}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label">广告类型</label>
                    <div class="col-lg-6">
                        <select id="type" class="form-control" th:field="*{param.type}">
                            <option value="0">请选择广告类型</option>
                            <option th:each="type : ${adTypeList}" th:value="${type.id}"
                                    th:text="${type.name}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label">尺寸模板</label>
                    <div class="col-lg-6">
                        <select id="size" class="form-control" th:field="*{param.imgSize}">
                            <option value="0">请选择尺寸模板</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label">上传图片</label>
                    <div class="col-lg-6">
                        <input type="file" th:field="*{imageFile}"/>
                        <input id="imageName" type="hidden" th:field="*{param.image}"/>
                    </div>
                </div>
                <button type="submit" class="btn btn-general btn-blue mr-2">保存</button>
            </form>
        </div>
    </div>
</div>

<!--Global Javascript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/popper/popper.min.js"></script>
<script src="/js/tether.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/front.js"></script>

<script src="/js/form.js"></script>
<script src="/js/messages_zh.min.js"></script>

<script th:inline="javascript">
    $(function () {
        var typeSelectEle = $("#type");
        initSizeSelect(typeSelectEle)
        typeSelectEle.change(function () {
            initSizeSelect(typeSelectEle)
        });

        function initSizeSelect(typeSelectEle) {
            var value = parseInt(typeSelectEle.val());
            if (value > 0) {
                $.ajax({
                    cache: true,
                    type: "post",
                    url: "/site/queryAdImgSizeList",
                    data: {"type": value},
                    success: function (data) {
                        $("#size").empty();
                        for (var i = 0; i < data.length; i++) {
                            $("#size").append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                        }
                    },
                    error: function () {
                        alert("获取数据失败，请重新刷新！");
                    }
                })
            } else {
                resetSizeSelect()
            }
        }

        function resetSizeSelect() {
            $("#size").empty().append("<option>请选择尺寸模板</option>");
        }
    })
</script>

</body>

</html>