<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">

    <title>广告商后台</title>
    <link rel="shortcut icon" href="/img/favicon.ico">

    <link href="/css/dwa/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/dwa/bootstrap-responsive.min.css" rel="stylesheet"/>
    <link href="/css/dwa/style.min.css" rel="stylesheet"/>
    <link href="/css/dwa/style-responsive.min.css" rel="stylesheet"/>
    <link href="/css/jquery.multiselect2side.css" rel="stylesheet"/>
</head>

<body>

<div th:replace="component/header::header"></div>


<div class="container-fluid-full">
    <div class="row-fluid">
        <div th:replace="component/left_nav::left-nav('plan')"></div>

        <div id="content" class="span10" style="min-height: 858px;">
            <form id="planForm"
                  th:action="${plan.id}?'/user/editPlan':'/user/createPlan'"
                  th:method="post" th:object="${plan}"
                  class="form-horizontal" role="form">
                <div class="row-fluid">
                    <div class="box span12">
                        <div class="box-header">
                            <h2><i class="icon-edit"></i>计划内容</h2>
                            <div class="box-icon">
                                <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
                                <a href="#" class="btn-close"><i class="icon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content">

                            <fieldset>
                                <!--<div class="control-group">-->
                                    <!--<label class="control-label" th:for="name">计划名称</label>-->
                                    <!--<div class="controls">-->
                                        <!--<input class="input-xlarge focused" type="text" th:field="*{name}">-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="control-group">-->
                                    <!--<label class="control-label" th:for="unitPrice">计划单价</label>-->
                                    <!--<div class="controls">-->
                                        <!--<input class="input-xlarge focused" type="text" th:field="*{unitPrice}">-->
                                        <!--<span class="red">元（最低单价为0.5元）</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="control-group">
                                    <label class="control-label" th:for="totalPrice">日预算</label>
                                    <div class="controls">
                                        <input class="input-xlarge focused" type="text" th:field="*{totalPrice}">
                                        <span class="red">元（最低限额为500元）</span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">平台</label>
                                    <div class="controls">
                                        <label class="checkbox inline">
                                            <input type="radio" name="platform" value="0" th:field="*{param.platform}">移动端
                                        </label>
                                        <label class="checkbox inline">
                                            <input type="radio" name="platform" value="1" th:field="*{param.platform}">PC
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div><!--/span-->

                </div><!--/row-->

                <div class="row-fluid">
                    <div class="box span12">
                        <div class="box-header">
                            <h2><i class="icon-edit"></i>广告计划</h2>
                            <div class="box-icon">
                                <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
                                <a href="#" class="btn-close"><i class="icon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" th:for="name">计划名称</label>
                                    <div class="controls">
                                        <input class="input-xlarge focused" type="text" th:field="*{name}">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">渠道</label>
                                    <input id="channel" type="hidden" th:field="*{param.channel}">
                                    <div class="controls">
                                        <select id="channelSelect" name="channelSelect" multiple='multiple'>
                                            <option value="1">淘宝</option>
                                            <option value="2">京东</option>
                                            <option value="3">百度</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">系统</label>
                                    <div class="controls">
                                        <label class="checkbox inline">
                                            <input type="radio" name="platform" value="0" th:field="*{param.system}">Android
                                        </label>
                                        <label class="checkbox inline">
                                            <input type="radio" name="platform" value="1" th:field="*{param.system}">IOS
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div><!--/span-->

                </div><!--/row-->

                <div class="row-fluid">
                    <div class="box span12">
                        <div class="box-header">
                            <h2><i class="icon-edit"></i>广告创意</h2>
                            <div class="box-icon">
                                <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
                                <a href="#" class="btn-close"><i class="icon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" th:for="*{param.style}">选择样式</label>
                                    <div class="controls">
                                        <select th:field="*{param.speed}">
                                            <option value="0">请选择样式</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" th:for="name">创意标题</label>
                                    <div class="controls">
                                        <input class="input-xlarge focused" type="text" th:field="*{param.title}"
                                               placeholder="请输入6-30字之间"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" th:for="name">商品链接</label>
                                    <div class="controls">
                                        <input class="input-xlarge focused" type="text" th:field="*{param.url}"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" th:for="url">上传素材</label>
                                    <div class="controls">
                                        <input class="input-xlarge focused" type="file" th:field="*{param.imageFile}"/>
                                        <input id="imageName" type="hidden" th:field="*{param.image}"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">广告分类</label>
                                    <input id="consumption" type="hidden" th:field="*{param.consumption}">
                                    <div class="controls">
                                        <input id="consumptionCheckAll" type="checkbox" name="all">全选<br/>
                                        <div>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="consumption" value="0">低
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="consumption" value="1">中
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="consumption" value="2">偏高
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="consumption" value="3">高
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div><!--/span-->

                </div><!--/row-->

                <div class="row-fluid">
                    <div class="box span12">
                        <div class="box-header">
                            <h2><i class="icon-edit"></i>广告定向</h2>
                            <div class="box-icon">
                                <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
                                <a href="#" class="btn-close"><i class="icon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label">性别</label>
                                    <div class="controls">
                                        <label class="checkbox inline">
                                            <input type="radio" name="platform" value="0" th:field="*{param.sex}">不限
                                        </label>
                                        <label class="checkbox inline">
                                            <input type="radio" name="platform" value="1" th:field="*{param.sex}">男
                                        </label>
                                        <label class="checkbox inline">
                                            <input type="radio" name="platform" value="2" th:field="*{param.sex}">女
                                        </label>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">投放地域</label>
                                    <input id="area" type="hidden" th:field="*{param.area}">
                                    <div class="controls">
                                        <input id="areaCheckAll" type="checkbox" name="all">全选<br/>
                                        <div>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="area" value="4">安徽
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="area" value="10">北京
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="area" value="20">重庆
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="area" value="7">福建
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="area" value="21">贵州
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="area" value="6">广东
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="area" value="8">广西
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="area" value="28">甘肃
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="area" value="33">澳门
                                            </label>
                                        </div>
                                        <div>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="area" value="17">湖北
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="area" value="18">湖南
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="area" value="12">河北
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="area" value="14">河南
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="area" value="9">海南
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="area" value="2">江苏
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="area" value="25">吉林
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="area" value="5">江西
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="area" value="26">黑龙江
                                            </label>
                                        </div>
                                        <div>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="area" value="24">辽宁
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="area" value="29">宁夏
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="area" value="30">青海
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="area" value="13">山东
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="area" value="1">上海
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="area" value="15">山西
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="area" value="27">陕西
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="area" value="19">四川
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="area" value="16">内蒙古
                                            </label>
                                        </div>
                                        <div>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="area" value="11">天津
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="area" value="22">云南
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="area" value="3">浙江
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="area" value="31">台湾
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="area" value="32">香港
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div style="border-top: 1px solid #e5e5e5;margin-bottom: 10px;"></div>
                                <div class="control-group">
                                    <label class="control-label">是否已育</label>
                                    <input id="child" type="hidden" th:field="*{param.child}">
                                    <div class="controls">
                                        <input id="childCheckAll" type="checkbox" name="all">全选<br/>
                                        <div>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="child" value="0">无车
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="child" value="1">有车
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div><!--/span-->

                </div><!--/row-->

                <div class="row-fluid">
                    <div class="box span12">
                        <div class="box-header">
                            <h2><i class="icon-edit"></i>设备属性</h2>
                            <div class="box-icon">
                                <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
                                <a href="#" class="btn-close"><i class="icon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label">投放设备</label>
                                    <input id="device" type="hidden" th:field="*{param.device}">
                                    <div class="controls">
                                        <input id="deviceCheckAll" type="checkbox" name="all">全选<br/>
                                        <div>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="device" value="2">苹果IOS
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="device" value="3">Android
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div><!--/span-->

                </div><!--/row-->

                <div class="row-fluid">
                    <div class="box span12">
                        <div class="box-header">
                            <h2><i class="icon-edit"></i>用户质量</h2>
                            <div class="box-icon">
                                <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
                                <a href="#" class="btn-close"><i class="icon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label">用户质量</label>
                                    <input id="quality" type="hidden" th:field="*{param.quality}">
                                    <div class="controls">
                                        <input id="qualityCheckAll" type="checkbox" name="all">全选<br/>
                                        <div>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="quality" value="0">非常活跃
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="quality" value="1">活跃
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="quality" value="2">一般
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="quality" value="3">不活跃
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div><!--/span-->

                </div><!--/row-->

                <div class="row-fluid" style="text-align: right;">
                    <button type="submit" class="btn btn-primary">保存计划，去创建广告</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/dwa/jquery-1.10.2.min.js"></script>
<script src="/js/dwa/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/dwa/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/js/dwa/jquery.ui.touch-punch.js"></script>
<script src="/js/dwa/modernizr.js"></script>
<script src="/js/dwa/bootstrap.min.js"></script>
<script src="/js/dwa/jquery.cookie.js"></script>
<script src='/js/dwa/fullcalendar.min.js'></script>
<script src='/js/dwa/jquery.dataTables.min.js'></script>
<script src="/js/dwa/excanvas.js"></script>
<script src="/js/dwa/jquery.flot.js"></script>
<script src="/js/dwa/jquery.flot.pie.js"></script>
<script src="/js/dwa/jquery.flot.stack.js"></script>
<script src="/js/dwa/jquery.flot.resize.min.js"></script>
<script src="/js/dwa/jquery.flot.time.js"></script>

<script src="/js/dwa/jquery.chosen.min.js"></script>
<script src="/js/dwa/jquery.uniform.min.js"></script>
<script src="/js/dwa/jquery.cleditor.min.js"></script>
<script src="/js/dwa/jquery.noty.js"></script>
<script src="/js/dwa/jquery.elfinder.min.js"></script>
<script src="/js/dwa/jquery.raty.min.js"></script>
<script src="/js/dwa/jquery.iphone.toggle.js"></script>
<script src="/js/dwa/jquery.uploadify-3.1.min.js"></script>
<script src="/js/dwa/jquery.gritter.min.js"></script>
<script src="/js/dwa/jquery.imagesloaded.js"></script>
<script src="/js/dwa/jquery.masonry.min.js"></script>
<script src="/js/dwa/jquery.knob.modified.js"></script>
<script src="/js/dwa/jquery.sparkline.min.js"></script>
<script src="/js/dwa/counter.min.js"></script>
<script src="/js/dwa/raphael.2.1.0.min.js"></script>
<script src="/js/dwa/justgage.1.0.1.min.js"></script>
<script src="/js/dwa/jquery.autosize.min.js"></script>
<script src="/js/dwa/retina.js"></script>
<script src="/js/dwa/jquery.placeholder.min.js"></script>
<script src="/js/dwa/wizard.min.js"></script>
<script src="/js/dwa/core.min.js"></script>
<script src="/js/dwa/charts.min.js"></script>
<script src="/js/dwa/custom.min.js"></script>
<script src="/js/jquery.multiselect2side.js"></script>

<script>
    $(function () {
        var value = parseInt($("input[name='param.media']:checked").val());
        mediaRadioChoose(value);

        $("[name='param.media']").change(function () {
            value = parseInt($(this).val());
            mediaRadioChoose(value);
        });

        $("[name='param.time']").change(function () {
            value = parseInt($(this).val());
            timeRadioChoose(value);
        });

        function mediaRadioChoose(value) {
            if (value > 0) {
                $("#media").slideDown();
            } else {
                $("#media").slideUp();
            }
        }

        function timeRadioChoose(value) {
            if (value > 0) {
                $("#timeArea").slideDown();
            } else {
                $("#timeArea").slideUp();
            }
        }

        $('#channelSelect').multiselect2side({
            search: "待选区　　搜索：" ,
            selectedPosition: 'right',
            moveOptions: false,
            labelsx: '待选区',
            labeldx: '已选区'
        });
    })
</script>

<script src="/js/jquery.validate.min.js"></script>
<script src="/js/form.js"></script>
<script src="/js/form-data.js"></script>
<script src="/js/messages_zh.min.js"></script>
</body>

</html>