<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">

    <title>广告商后台</title>
    <link rel="shortcut icon" href="/img/favicon.ico">

    <link href="/css/dwa/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/dwa/bootstrap-responsive.min.css" rel="stylesheet"/>
    <link href="/css/dwa/style.min.css" rel="stylesheet"/>
    <link href="/css/dwa/style-responsive.min.css" rel="stylesheet"/>
    <link href="/css/jquery.multiselect2side.css" rel="stylesheet"/>
</head>

<body>

<div th:replace="component/header::header"></div>


<div class="container-fluid-full">
    <div class="row-fluid">
        <div th:replace="component/left_nav::left-nav('plan')"></div>

        <div id="content" class="span10" style="min-height: 858px;">
            <form id="planForm"
                  th:action="${plan.id}?'/user/editPlan':'/user/createPlan'"
                  th:method="post" th:object="${plan}"
                  class="form-horizontal" role="form">
                <div class="row-fluid">
                    <div class="box span12">
                        <div class="box-header">
                            <h2><i class="icon-edit"></i>计划内容</h2>
                            <div class="box-icon">
                                <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
                                <a href="#" class="btn-close"><i class="icon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content">

                            <fieldset>
                                <!--<div class="control-group">-->
                                    <!--<label class="control-label" th:for="name">计划名称</label>-->
                                    <!--<div class="controls">-->
                                        <!--<input class="input-xlarge focused" type="text" th:field="*{name}">-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="control-group">-->
                                    <!--<label class="control-label" th:for="unitPrice">计划单价</label>-->
                                    <!--<div class="controls">-->
                                        <!--<input class="input-xlarge focused" type="text" th:field="*{unitPrice}">-->
                                        <!--<span class="red">元（最低单价为0.5元）</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="control-group">
                                    <label class="control-label" th:for="totalPrice">日预算</label>
                                    <div class="controls">
                                        <input class="input-xlarge focused" type="text" th:field="*{totalPrice}">
                                        <span class="red">元（最低限额为500元）</span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">平台</label>
                                    <div class="controls">
                                        <label class="checkbox inline">
                                            <input type="radio" name="platform" value="0" th:field="*{param.platform}">移动端
                                        </label>
                                        <label class="checkbox inline">
                                            <input type="radio" name="platform" value="1" th:field="*{param.platform}">PC
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div><!--/span-->

                </div><!--/row-->

                <div class="row-fluid">
                    <div class="box span12">
                        <div class="box-header">
                            <h2><i class="icon-edit"></i>广告计划</h2>
                            <div class="box-icon">
                                <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
                                <a href="#" class="btn-close"><i class="icon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" th:for="name">计划名称</label>
                                    <div class="controls">
                                        <input class="input-xlarge focused" type="text" th:field="*{name}">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">渠道</label>
                                    <input id="channel" type="hidden" th:field="*{param.channel}">
                                    <div class="controls">
                                        <select class="lrSelect" name="lrSelect" multiple='multiple'>
                                            <option value="1">淘宝</option>
                                            <option value="2">京东</option>
                                            <option value="3">百度</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">系统</label>
                                    <div class="controls">
                                        <label class="checkbox inline">
                                            <input type="radio" name="platform" value="0" th:field="*{param.system}">Android
                                        </label>
                                        <label class="checkbox inline">
                                            <input type="radio" name="platform" value="1" th:field="*{param.system}">IOS
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div><!--/span-->

                </div><!--/row-->

                <div class="row-fluid">
                    <div class="box span12">
                        <div class="box-header">
                            <h2><i class="icon-edit"></i>广告创意</h2>
                            <div class="box-icon">
                                <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
                                <a href="#" class="btn-close"><i class="icon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" th:for="*{param.style}">选择样式</label>
                                    <div class="controls">
                                        <select th:field="*{param.speed}">
                                            <option value="0">请选择样式</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" th:for="name">创意标题</label>
                                    <div class="controls">
                                        <input class="input-xlarge focused" type="text" th:field="*{param.title}"
                                               placeholder="请输入6-30字之间"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" th:for="name">商品链接</label>
                                    <div class="controls">
                                        <input class="input-xlarge focused" type="text" th:field="*{param.url}"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" th:for="url">上传素材</label>
                                    <div class="controls">
                                        <input class="input-xlarge focused" type="file" th:field="*{param.imageFile}"/>
                                        <input id="imageName" type="hidden" th:field="*{param.image}"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">广告分类</label>
                                    <input id="consumption" type="hidden" th:field="*{param.consumption}">
                                    <div class="controls">
                                        <select class="lrSelect" name="lrSelect" multiple='multiple'>
                                            <option value="1">家居</option>
                                            <option value="2">健康</option>
                                            <option value="3">母婴</option>
                                            <option value="4">食品</option>
                                            <option value="5">生活服务</option>
                                            <option value="6">商务服务</option>
                                            <option value="7">影音</option>
                                            <option value="8">科技</option>
                                            <option value="9">汽车</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div><!--/span-->

                </div><!--/row-->

                <div class="row-fluid">
                    <div class="box span12">
                        <div class="box-header">
                            <h2><i class="icon-edit"></i>广告定向</h2>
                            <div class="box-icon">
                                <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
                                <a href="#" class="btn-close"><i class="icon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label">性别</label>
                                    <div class="controls">
                                        <label class="checkbox inline">
                                            <input type="radio" name="platform" value="0" th:field="*{param.sex}">不限
                                        </label>
                                        <label class="checkbox inline">
                                            <input type="radio" name="platform" value="1" th:field="*{param.sex}">男
                                        </label>
                                        <label class="checkbox inline">
                                            <input type="radio" name="platform" value="2" th:field="*{param.sex}">女
                                        </label>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">投放区域</label>
                                    <input id="area" type="hidden" th:field="*{param.area}">
                                    <div class="controls">
                                        <select class="lrSelect" name="lrSelect" multiple='multiple'>
                                            <option value="1">安徽</option>
                                            <option value="2">北京</option>
                                            <option value="3">重庆</option>
                                            <option value="4">福建</option>
                                            <option value="5">贵州</option>
                                            <option value="6">广东</option>
                                            <option value="7">广西</option>
                                            <option value="8">甘肃</option>
                                            <option value="9">澳门</option>
                                            <option value="10">湖北</option>
                                            <option value="11">湖南</option>
                                            <option value="12">河北</option>
                                            <option value="13">河南</option>
                                            <option value="14">海南</option>
                                            <option value="15">江苏</option>
                                            <option value="16">吉林</option>
                                            <option value="17">江西</option>
                                            <option value="18">黑龙江</option>
                                            <option value="19">辽宁</option>
                                            <option value="20">宁夏</option>
                                            <option value="21">青海</option>
                                            <option value="22">山东</option>
                                            <option value="23">上海</option>
                                            <option value="24">山西</option>
                                            <option value="25">陕西</option>
                                            <option value="26">四川</option>
                                            <option value="27">内蒙古</option>
                                            <option value="28">天津</option>
                                            <option value="29">云南</option>
                                            <option value="30">浙江</option>
                                            <option value="31">台湾</option>
                                            <option value="32">香港</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">年龄</label>
                                    <div class="controls">
                                        <div>
                                            <label class="checkbox inline">
                                                <input type="radio" name="age" value="0" th:field="*{param.age}">不限
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="radio" name="age" value="1" th:field="*{param.age}">0-17
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="radio" name="age" value="2" th:field="*{param.age}">18-24
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="radio" name="age" value="3" th:field="*{param.age}">25-34
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="radio" name="age" value="4" th:field="*{param.age}">35-44
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="radio" name="age" value="5" th:field="*{param.age}">45+
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">网络环境</label>
                                    <div class="controls">
                                        <div>
                                            <label class="checkbox inline">
                                                <input type="radio" name="network" value="0" th:field="*{param.network}">不限
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="radio" name="network" value="1" th:field="*{param.network}">2G
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="radio" name="network" value="2" th:field="*{param.network}">3G
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="radio" name="network" value="3" th:field="*{param.network}">4G
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="radio" name="network" value="4" th:field="*{param.network}">5G
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="radio" name="network" value="5" th:field="*{param.network}">WIFI
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">网络环境</label>
                                    <div class="controls">
                                        <div>
                                            <label class="checkbox inline">
                                                <input type="radio" name="network" value="0" th:field="*{param.operator}">不限
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="radio" name="network" value="1" th:field="*{param.operator}">2G
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="radio" name="network" value="2" th:field="*{param.operator}">3G
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="radio" name="network" value="3" th:field="*{param.operator}">4G
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="radio" name="network" value="4" th:field="*{param.operator}">5G
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="radio" name="network" value="5" th:field="*{param.operator}">WIFI
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">手机品牌</label>
                                    <input id="brand" type="hidden" th:field="*{param.brand}">
                                    <div class="controls">
                                        <select class="lrSelect" name="lrSelect" multiple='multiple'>
                                            <option value="1">苹果</option>
                                            <option value="2">小米</option>
                                            <option value="3">OPPO</option>
                                            <option value="4">三星</option>
                                            <option value="5">VIVO</option>
                                            <option value="6">魅族</option>
                                            <option value="7">联想</option>
                                            <option value="8">金立</option>
                                            <option value="9">努比亚</option>
                                            <option value="10">其他</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">安装应用偏好</label>
                                    <input id="app" type="hidden" th:field="*{param.app}">
                                    <div class="controls">
                                        <select class="lrSelect" name="lrSelect" multiple='multiple'>
                                            <option value="1">股票</option>
                                            <option value="2">投资</option>
                                            <option value="3">记账</option>
                                            <option value="4">银行</option>
                                            <option value="5">信用卡</option>
                                            <option value="6">彩票</option>
                                            <option value="7">网贷P2P</option>
                                            <option value="8">淘宝</option>
                                            <option value="9">天猫</option>
                                            <option value="10">京东</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">广告点击偏好</label>
                                    <input id="adv" type="hidden" th:field="*{param.adv}">
                                    <div class="controls">
                                        <select class="lrSelect" name="lrSelect" multiple='multiple'>
                                            <option value="1">摄影摄像</option>
                                            <option value="2">旅行交通</option>
                                            <option value="3">游戏-休闲创意</option>
                                            <option value="4">游戏-塔防迷宫</option>
                                            <option value="5">游戏-模拟经营</option>
                                            <option value="6">游戏-跑酷闯关</option>
                                            <option value="7">金融理财</option>
                                            <option value="8">居家生活</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">兴趣定向</label>
                                    <input id="xq" type="hidden" th:field="*{param.xq}">
                                    <div class="controls">
                                        <select class="lrSelect" name="lrSelect" multiple='multiple'>
                                            <option value="1">文化娱乐</option>
                                            <option value="2">软件应用</option>
                                            <option value="3">咨询</option>
                                            <option value="4">网络购物</option>
                                            <option value="5">教育培训</option>
                                            <option value="6">医疗健康</option>
                                            <option value="7">游戏</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div><!--/span-->

                </div><!--/row-->

                <div class="row-fluid">
                    <div class="box span12">
                        <div class="box-header">
                            <h2><i class="icon-edit"></i>设备属性</h2>
                            <div class="box-icon">
                                <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
                                <a href="#" class="btn-close"><i class="icon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label">投放设备</label>
                                    <input id="device" type="hidden" th:field="*{param.device}">
                                    <div class="controls">
                                        <input id="deviceCheckAll" type="checkbox" name="all">全选<br/>
                                        <div>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="device" value="2">苹果IOS
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="device" value="3">Android
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div><!--/span-->

                </div><!--/row-->

                <div class="row-fluid">
                    <div class="box span12">
                        <div class="box-header">
                            <h2><i class="icon-edit"></i>用户质量</h2>
                            <div class="box-icon">
                                <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
                                <a href="#" class="btn-close"><i class="icon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label">用户质量</label>
                                    <input id="quality" type="hidden" th:field="*{param.quality}">
                                    <div class="controls">
                                        <input id="qualityCheckAll" type="checkbox" name="all">全选<br/>
                                        <div>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="quality" value="0">非常活跃
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="quality" value="1">活跃
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="quality" value="2">一般
                                            </label>
                                            <label class="checkbox inline">
                                                <input type="checkbox" name="quality" value="3">不活跃
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div><!--/span-->

                </div><!--/row-->

                <div class="row-fluid" style="text-align: right;">
                    <button type="submit" class="btn btn-primary">保存计划，去创建广告</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/dwa/jquery-1.10.2.min.js"></script>
<script src="/js/dwa/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/dwa/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/js/dwa/jquery.ui.touch-punch.js"></script>
<script src="/js/dwa/modernizr.js"></script>
<script src="/js/dwa/bootstrap.min.js"></script>
<script src="/js/dwa/jquery.cookie.js"></script>
<script src='/js/dwa/fullcalendar.min.js'></script>
<script src='/js/dwa/jquery.dataTables.min.js'></script>
<script src="/js/dwa/excanvas.js"></script>
<script src="/js/dwa/jquery.flot.js"></script>
<script src="/js/dwa/jquery.flot.pie.js"></script>
<script src="/js/dwa/jquery.flot.stack.js"></script>
<script src="/js/dwa/jquery.flot.resize.min.js"></script>
<script src="/js/dwa/jquery.flot.time.js"></script>

<script src="/js/dwa/jquery.chosen.min.js"></script>
<script src="/js/dwa/jquery.uniform.min.js"></script>
<script src="/js/dwa/jquery.cleditor.min.js"></script>
<script src="/js/dwa/jquery.noty.js"></script>
<script src="/js/dwa/jquery.elfinder.min.js"></script>
<script src="/js/dwa/jquery.raty.min.js"></script>
<script src="/js/dwa/jquery.iphone.toggle.js"></script>
<script src="/js/dwa/jquery.uploadify-3.1.min.js"></script>
<script src="/js/dwa/jquery.gritter.min.js"></script>
<script src="/js/dwa/jquery.imagesloaded.js"></script>
<script src="/js/dwa/jquery.masonry.min.js"></script>
<script src="/js/dwa/jquery.knob.modified.js"></script>
<script src="/js/dwa/jquery.sparkline.min.js"></script>
<script src="/js/dwa/counter.min.js"></script>
<script src="/js/dwa/raphael.2.1.0.min.js"></script>
<script src="/js/dwa/justgage.1.0.1.min.js"></script>
<script src="/js/dwa/jquery.autosize.min.js"></script>
<script src="/js/dwa/retina.js"></script>
<script src="/js/dwa/jquery.placeholder.min.js"></script>
<script src="/js/dwa/wizard.min.js"></script>
<script src="/js/dwa/core.min.js"></script>
<script src="/js/dwa/charts.min.js"></script>
<script src="/js/dwa/custom.min.js"></script>
<script src="/js/jquery.multiselect2side.js"></script>

<script>
    $(function () {
        var value = parseInt($("input[name='param.media']:checked").val());
        mediaRadioChoose(value);

        $("[name='param.media']").change(function () {
            value = parseInt($(this).val());
            mediaRadioChoose(value);
        });

        $("[name='param.time']").change(function () {
            value = parseInt($(this).val());
            timeRadioChoose(value);
        });

        function mediaRadioChoose(value) {
            if (value > 0) {
                $("#media").slideDown();
            } else {
                $("#media").slideUp();
            }
        }

        function timeRadioChoose(value) {
            if (value > 0) {
                $("#timeArea").slideDown();
            } else {
                $("#timeArea").slideUp();
            }
        }

        $('.lrSelect').multiselect2side({
            moveOptions: false,
            labelsx: '待选区',
            labeldx: '已选区'
        });
    })
</script>

<script src="/js/jquery.validate.min.js"></script>
<script src="/js/form.js"></script>
<script src="/js/form-data.js"></script>
<script src="/js/messages_zh.min.js"></script>
</body>

</html>