<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" type="image/png">

    <title>广告商后台</title>

    <!--responsive table-->
    <link href="/css/table-responsive.css" rel="stylesheet"/>

    <!--common-->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="sticky-header">

<section>
    <div th:replace="component/left_nav::left-nav('data')"></div>

    <!-- main content start-->
    <div class="main-content">
        <div th:replace="component/header::header"></div>

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">数据报告</header>
                        <div class="panel-body">
                            <section id="unseen">
                                <div class="clearfix">
                                    <div class="btn-group">
                                        <button id="export" class="btn btn-primary">
                                            导出
                                        </button>
                                    </div>
                                </div>
                                <table class="table table-hover general-table" id="logList">
                                    <thead>
                                    <tr>
                                        <th>日期</th>
                                        <th>浏览量</th>
                                        <th>点击量</th>
                                        <th>点击率</th>
                                        <th>当日消耗金额</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="log : ${logs}">
                                        <td th:text="${log.date}"></td>
                                        <td th:text="${#numbers.formatInteger(log.exec,3,'COMMA')}"></td>
                                        <td th:text="${#numbers.formatInteger(log.cpc,1,'COMMA')}"></td>
                                        <td th:text="${#numbers.formatDecimal(log.rate*100, 0, 2)}+'%'"></td>
                                        <td th:include="util/currency::format(${log.amount/100})"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!--body wrapper end-->

        <div th:replace="component/footer::footer"></div>
    </div>
    <!-- main content end-->

</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.nicescroll.js"></script>

<!--data table-->
<script type="text/javascript" src="/js/data-tables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/data-tables/DT_bootstrap.js"></script>
<script src="/js/dynamic_table_init.js"></script>

<!--common scripts for all pages-->
<script src="/js/scripts.js"></script>

<script>
    $(document).ready(function () {
        let currentProtocol = window.location.protocol;
        let currentHostname = window.location.hostname;
        let currentPort = window.location.port;
        let currentURL;
        // 如果端口为空或为80（HTTP）或443（HTTPS），则可以省略端口
        if (currentPort === "" || currentPort === "80" || currentPort === "443") {
            currentURL = currentProtocol + "//" + currentHostname;
        } else {
            currentURL = currentProtocol + "//" + currentHostname + ":" + currentPort;
        }
        // 当按钮被点击时
        $("#export").click(function () {
            var xhr = new XMLHttpRequest();
            xhr.responseType = "blob"; // Set responseType to "blob" for binary data
            xhr.open("POST", currentURL + "/export");
            xhr.send();

            xhr.onload = function () {
                if (xhr.status === 200) {
                    var blobData = xhr.response; // Access the blob data
                    // 创建一个临时 URL 对象并将 Blob 数据绑定到该 URL 上
                    var blobURL = window.URL.createObjectURL(blobData);

                    // 创建一个链接元素用于下载
                    var a = document.createElement("a");
                    a.href = blobURL;
                    a.download = "日志.xlsx"; // 设置下载文件的名称

                    // 模拟用户点击链接来触发下载
                    a.click();

                    // 释放 Blob URL 对象
                    window.URL.revokeObjectURL(blobURL);
                }
            };
            // // 发送GET请求到Excel文件下载接口
            // $.ajax({
            //     type: "POST",
            //     url: currentURL + "/export",
            //     xhrFields: {
            //         responseType: 'blob' // 设置响应数据类型为blob
            //     },
            //     success: function(data) {
            //        console.log(data);
            //     },
            //     error: function (xhr, status, error) {
            //         console.log("下载文件失败！");
            //         console.log("XHR状态码：" + xhr.status);
            //         console.log("错误信息：" + error);
            //     }
            // });
        });
    });
</script>

</body>
</html>
