<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" type="image/png">

    <title>八方传播-广告商后台</title>

    <!--C3 Chart-->
    <link href="/js/c3-chart/c3.css" rel="stylesheet"/>

    <!--common-->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="sticky-header">

<section>
    <div th:replace="component/left_nav::left-nav('user')"></div>

    <!-- main content start-->
    <div class="main-content">
        <div th:replace="component/header::header"></div>

        <!-- page heading start-->
        <div class="page-heading">
            <div class="row state-info">
                <div class="col-sm-3">
                    <section class="panel">
                        <div class="panel-body">
                            <div class="summary">
                                <span>账户余额</span>
                                <h3 class="red-txt">
                                    <span th:replace="util/currency::format(${session.user.money/100})"></span>
                                </h3>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-sm-3">
                    <section class="panel">
                        <div class="panel-body">
                            <div class="summary">
                                <span>当日支付</span>
                                <h3 class="green-txt">11,600 元</h3>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-sm-3">
                    <section class="panel">
                        <div class="panel-body">
                            <div class="summary">
                                <span>昨日支付</span>
                                <h3 class="green-txt">45,600 元</h3>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-sm-3">
                    <section class="panel">
                        <div class="panel-body">
                            <div class="summary">
                                <span>当月支付</span>
                                <h3 class="green-txt">45,600 元</h3>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!--<div class="state-info">-->
            <!--<section class="panel">-->
            <!--<div class="panel-body">-->
            <!--<div class="summary">-->
            <!--<span>账户余额</span>-->
            <!--<h3 class="red-txt">$ 11,600</h3>-->
            <!--</div>-->
            <!--</div>-->
            <!--</section>-->
            <!--<section class="panel">-->
            <!--<div class="panel-body">-->
            <!--<div class="summary">-->
            <!--<span>当月支付</span>-->
            <!--<h3 class="green-txt">$ 45,600</h3>-->
            <!--</div>-->
            <!--</div>-->
            <!--</section>-->
            <!--<section class="panel">-->
            <!--<div class="panel-body">-->
            <!--<div class="summary">-->
            <!--<span>昨日支付</span>-->
            <!--<h3 class="green-txt">$ 45,600</h3>-->
            <!--</div>-->
            <!--</div>-->
            <!--</section>-->
            <!--<section class="panel">-->
            <!--<div class="panel-body">-->
            <!--<div class="summary">-->
            <!--<span>当日支付</span>-->
            <!--<h3 class="green-txt">$ 45,600</h3>-->
            <!--</div>-->
            <!--</div>-->
            <!--</section>-->
            <!--</div>-->
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            数据报告
                            <span class="tools pull-right">
                                <a href="">更多数据</a>
                            </span>
                        </header>
                        <div class="panel-body">

                            <div class="chart">
                                <div id="chart"></div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!--body wrapper end-->

        <div th:replace="component/footer::footer"></div>
    </div>
    <!-- main content end-->

</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.nicescroll.js"></script>

<!--C3 Chart-->
<script src="/js/c3-chart/d3.v3.min.js"></script>
<script src="/js/c3-chart/c3.js"></script>
<script src="/js/c3-chart/c3-chart.init.js"></script>

<!--common scripts for all pages-->
<script src="/js/scripts.js"></script>


</body>
</html>