<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">

    <title>广告商后台</title>
    <link rel="shortcut icon" href="/img/favicon.ico">

    <!-- global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/font-icon-style.css">
    <link rel="stylesheet" href="/css/style.default.css" id="theme-stylesheet">

    <!-- Core stylesheets -->
    <link rel="stylesheet" href="/css/ui-elements/card.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<!--====================================================
                         MAIN NAVBAR
======================================================-->
<div th:replace="component/header::header"></div>

<!--====================================================
                        PAGE CONTENT
======================================================-->
<div class="page-content d-flex align-items-stretch">

    <!--***** SIDE NAVBAR *****-->
    <div th:replace="component/left_nav::left-nav('user')"></div>

    <div class="content-inner">

        <!--***** REPORT-1 *****-->
        <div class="row" id="report1">
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-block">
                        <div class="text-left report1-cont">
                            <h2 class="font-light m-b-0"><i class="ti-arrow-up text-success"></i>
                                <span th:replace="util/currency::format(${userAmount})"></span>
                            </h2>
                            <span class="text-muted">账户余额</span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-block">
                        <div class="text-left report1-cont">
                            <h2 class="font-light m-b-0"><i class="ti-arrow-up text-success"></i>
                                <span th:replace="util/currency::format(${todayConsumeAmount})"></span>
                            </h2>
                            <span class="text-muted">当日支付</span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-block">
                        <div class="text-left report1-cont">
                            <h2 class="font-light m-b-0"><i class="ti-arrow-up text-success"></i>
                                <span th:replace="util/currency::format(${yesterdayConsumeAmount})"></span>
                            </h2>
                            <span class="text-muted">昨日支付</span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-block">
                        <div class="text-left report1-cont">
                            <h2 class="font-light m-b-0"><i class="ti-arrow-up text-success"></i>
                                <span th:replace="util/currency::format(${monthConsumeAmount})"></span>
                            </h2>
                            <span class="text-muted">当月支付</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--***** REPORT-2 *****-->
        <div class="row" id="report2">
            <div class="col-md-12">
                <input id="logJson" type="hidden" th:value="${logJson}">
                <div class="card card-c1">
                    <div class="card-header card-chart" data-background-color="orange">
                        <div id="container"></div>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="fa fa-clock-o"></i> 数据报告
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Global Javascript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/popper/popper.min.js"></script>
<script src="/js/tether.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/front.js"></script>

<!--Chart -->
<script src="/js/highcharts.js"></script>
<script src="/js/themes/gray.js"></script>
<script>
    $(function () {
        var logJson = $("#logJson").val();
        var log = JSON.parse(logJson);
        var xArray = [];
        var execArray = [];
        var cpcArray = [];
        for (var i in log) {
            xArray.push(toDate(log[i].recordTime));
            execArray.push(log[i].exec);
            cpcArray.push(log[i].cpc);
        }
        Highcharts.chart('container', {
            title: {
                text: '当月效果报表'
            },
            xAxis: {
                categories: xArray
            },
            yAxis: {
                title: {
                    text: ''
                }
            },
            tooltip: {
                crosshairs: true,
                shared: true
            },
            plotOptions: {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [{
                name: '网页浏览量',
                data: execArray
            }, {
                name: 'cpc',
                data: cpcArray
            }],
            credits: {

                enabled: false

            }
        });
    });

    function toDate(timestamp) {
        var date = new Date(timestamp * 1000);
        var Y = date.getFullYear() + '-';
        var M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
        var D = date.getDate();
        return Y + M + D;
    }
</script>

</body>

</html>