<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" type="image/png">

    <title>登录</title>

    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="login-body">
<header class="login_header">
    <div class="logoimg">
        <img src="/images/logo.jpg" style="margin: 10px;">
    </div>
</header>

<div class="container">

    <form th:action="@{/user/login}"  th:method="post" class="form-signin">
        <div class="form-signin-heading text-center">
            <h1 class="sign-title">广告商登录</h1>
        </div>
        <div class="login-wrap">
            <p th:if="${msg!=null}" th:text="|${msg}!|" style="color:#FF6C60;">登录错误</p>
            <input id="username" name="username" type="text" class="form-control" placeholder="请输入用户名" autofocus>
            <input id="password" name="password" type="password" class="form-control" placeholder="请输入密码">

            <button class="btn btn-lg btn-login btn-block" type="submit">
                <i class="fa fa-check"></i>
            </button>
        </div>
    </form>
</div>
<div>
    <img src="/images/bg1.jpg" style="width:100%;">
    <img src="/images/bg2.jpg" style="width:100%;">
    <img src="/images/bg3.jpg" style="width:100%;">
    <img src="/images/bg4.jpg" style="width:100%;">
</div>
<footer style="background:none;text-align: center;border-top: none;color:#FFFFFF;font-size: 14px;">
    网站备案号 <a href="https://beian.miit.gov.cn"  target="_blank">粤ICP备2023107497号-1</a>
    <img style="width: 20px;display: inline-block;height: 20px;vertical-align: top;" src="/images/beian.png" />
    <a href= "https://beian.mps.gov.cn/#/query/webSearch?code=44030002001165" rel="noreferrer" target="_blank">粤公网安备44030002001165号</a>
    <br/>
    版权所有：深圳市聚效互动科技有限公司
    服务邮箱：SVC@moreeffect.cn 电话：（+86）18659208770
    <br/>
    深圳办公地址：
    深圳市南山区南海大道1079号花园城数码大厦A座201-N
    <br/>
    香港办公地址：
    香港九龍新蒲崗大有街2-4號旺景工業大廈3樓D18 Unit D18,3/F,Wong King Industrial Building,No.2-4 Tai Yau Street,Kowloon
</footer>

<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>

</body>
</html>
