<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">

    <title>聚点自助广告</title>
    <link rel="shortcut icon" href="/img/favicon.ico">

    <!-- global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/font-icon-style.css">
    <link rel="stylesheet" href="/css/style.default.css" id="theme-stylesheet">

    <!-- Core stylesheets -->
    <link rel="stylesheet" href="/css/pages/login.css">
</head>

<body>

<!--====================================================
                        PAGE CONTENT
======================================================-->
<section class="hero-area">
    <div class="overlay"></div>
    <div class="container">
        <div class="row" style="padding-top: 130px;">
            <div class="col-md-12 ">
                <div class="contact-h-cont">
                    <h3 class="text-center" style="color:#FFF;">聚力广告平台</h3><br>
                    <form th:action="@{/user/login}"  th:method="post">
                        <p th:if="${msg!=null}" th:text="|${msg}!|" style="color:#FF6C60;">登录错误</p>
                        <div class="form-group">
                            <input type="text" class="form-control input-text" id="username" name="username" placeholder="账号">
                        </div>
                        <div class="form-group">
                            <input class="form-control input-text" type="password" id="password" name="password" placeholder="密码">
                        </div>
                        <button class="btn btn-general btn-blue" role="button" type="submit" style="width: 100%;"><i fa fa-right-arrow></i>登录</button>
                    </form>
                    <div class="pp" style="margin-top: 20px;">
                        <img src="/img/ppsp.png"/>
                        <img src="/img/ppty.png" style="margin-left: 35px;"/>
                        <img src="/img/ppzs.png" style="margin-left: 35px;"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Global Javascript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/tether.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>

</html>