<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">

    <title>广告商后台</title>
    <link rel="shortcut icon" href="/img/favicon.ico">

    <!-- global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/font-icon-style.css">
    <link rel="stylesheet" href="/css/style.default.css" id="theme-stylesheet">

    <!-- Core stylesheets -->
    <link rel="stylesheet" href="/css/ui-elements/card.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/ui-elements/button.css">
    <link rel="stylesheet" href="/js/data-tables/DT_bootstrap.css"/>
</head>

<body>

<!--====================================================
                         MAIN NAVBAR
======================================================-->
<div th:replace="component/header::header"></div>

<!--====================================================
                        PAGE CONTENT
======================================================-->
<div class="page-content d-flex align-items-stretch">

    <!--***** SIDE NAVBAR *****-->
    <div th:replace="component/left_nav::left-nav('plan')"></div>

    <div class="content-inner">
        <div class="tenth-button">
            <a href="/user/createPlan" class="btn btn-lg blue">新增计划</a>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-c2">
                    <table id="planList" class="table table-hover">
                        <thead>
                        <tr>
                            <th>计划名称</th>
                            <th>单价</th>
                            <th>限额</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="plan : ${plans}">
                            <td th:text="${plan.name}"></td>
                            <td th:include="util/currency::format(${plan.unitPrice})"></td>
                            <td th:include="util/currency::format(${plan.totalPrice})"></td>
                            <td th:switch="${plan.status}">
                                <span th:case="0" class="label label-danger label-mini">新增待审</span>
                                <span th:case="1" class="label label-success label-mini">活动</span>
                                <span th:case="2" class="label label-danger label-mini">修改待审</span>
                                <span th:case="3" class="label label-warning label-mini">已被锁定</span>
                            </td>
                            <td class="operate">
                                <a th:href="@{/user/editPlan/{id}(id=${plan.id})}">修改</a>
                                <a th:href="@{/user/createAd/{id}(id=${plan.id})}">新增广告</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Global Javascript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/popper/popper.min.js"></script>
<script src="/js/tether.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/front.js"></script>

<!--data table-->
<script type="text/javascript" src="/js/data-tables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/data-tables/DT_bootstrap.js"></script>
<script src="/js/data-tables/dynamic_table_init.js"></script>

</body>

</html>